//*****************************************************
//*   NAV
//*****************************************************

//* Grandparent class (nav)
.nav {
  padding: 1rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.144);
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__list {
    text-align: right;
  }
  &__item {
    display: inline;
    padding-right: 1rem;
  }
  &__link {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color:$text-color;

    @include transition(1s);
    &:hover {
      color:rgb(35, 128, 250);
    }

    &--active {
      color: $secondary-color;
    }
  }
}
